<div class="app-container">
    <div class="content-container">
        <span class="app-control-container">
          <main role="main" class="container">
            <div class="jumbotron">
              <h1>Wiki Pages</h1>
              <div *ngIf="firstPage()">
                <p class="lead">
                  <span *ngIf="loggedIn" >Hey {{userName}}!</span>
                Good news, if you are reading this then you have the proper permissions to view/read pages on this site!
                </p>
                <div>
                  <p *ngIf="canCreate | async">
                    You are also an esteemed writer who has the powers to forge interesting wiki pages from the hot fires of Valhalla.
                  </p>
                  <p *ngIf="cantCreate | async">
                    While you cannot create any pages.
                    You have the ability to enjoy all of the wiki pages that our writers have forged from the burning fires of Valhalla.
                  </p>
                  <p *ngIf="canUpdate | async">
                    You may also choose to go back and fully modify a page you and fellow writers have created.
                    May our pages never wear to a dull, boring edge.
                  </p>
                  <p *ngIf="cantUpdate | async">
                    Once a page has been created, it will lie in place forever unchanged by you.
                    Until a craftsman, whose skills rival your's, may place it back into the forge. To which it may be modified again.
                  </p>
                  <p *ngIf="canDelete | async">
                    Lastly, you are the mighty Archiver. Wielding the power to cast created pages down, into the archive.
                    Where they will wait patiently forever.
                    Until you deem that they may one day see the light of mainstream.
                  </p>
                  <p *ngIf="cantDelete | async">
                    The page keepers of this site have the ability to banish any created pages down into the archive.
                    Where they lie outside of the realm of active pages.
                    Hoping that one day they, may be restored and see the light.
                  </p>
                  <p *ngIf="!loggedIn" class="small">
                    Psst..... You should probably <a routerLink="/login" class="btn-sm btn btn-primary">login</a> or <a class="btn-success btn-sm btn" routerLink="/register">register</a>!
                </p>
                </div>
              </div>
            </div>
          </main>
          <pages-list></pages-list>
        </span>
    </div>
</div>
