<div>
  <div class="pagination-previous"
       [class.disabled]="previousPage === currentPage">
    <a *ngIf="previousPage !== currentPage"
       (click)="paginator.setCurrent(previousPage)"> < </a>
  </div>

  <div *ngFor="let page of pages"
       [class.current]="page === currentPage">
    <a (click)="paginator.setCurrent(page)"
       *ngIf="page !== currentPage">
      <span>{{ page.label }}</span>
    </a>
    <div *ngIf="page === currentPage">
      <span>{{ page.label }}</span>
    </div>
  </div>

  <div class="pagination-next"
       [class.disabled]="currentPage === nextPage">
    <a *ngIf="currentPage !== nextPage"
       (click)="paginator.setCurrent(nextPage)"> > </a>
  </div>

</div>
