<div class="d-inline-flex">
  <div class="pagination-previous"
       [class.disabled]="previousPage === currentPage">
    <a *ngIf="previousPage !== currentPage"
       (click)="setCurrent(previousPage)"> < </a>
  </div>

  <div
    *ngFor="let page of pages">
    <a (click)="setCurrent(page)"
       *ngIf="page !== currentPage">
      <span>{{ page.pageId }}</span>
    </a>
    <div *ngIf="page === currentPage">
      <span>{{ page.pageId }}</span>
    </div>
  </div>

  <div class="pagination-next"
       [class.disabled]="nextPage === currentPage">
    <a *ngIf="nextPage !== currentPage"
       (click)="setCurrent(nextPage)"> > </a>
  </div>

</div>
