<div class="app-container">
  <div class="content-container">
        <span class="app-control-container">
          <main role="main" class="container">
            <div class="jumbotron">
              <h1>Wiki Pages</h1>
              <p class="lead">This example is a exercise to illustrate a combination of an Angular 4 frontend.
              Which is supported by Vert.X backend with MongoDB persistence!</p>
              <
              <small>#reactive</small>
            </div>
          </main>
        </span>
  </div>
</div>
