<logout-hider>
  <form [hidden]="cantSearch | async"
        class="form-inline mt-2 mt-md-0"
        (ngSubmit)="search(model.searchContent)">
    <input class="form-control mr-sm-2"
           type="text"
           placeholder="Search"
           #searchContent="ngModel"
           name="searchContent"
           [(ngModel)]="model.searchContent"
           aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0"
            type="submit">Search
    </button>
    <simple-notifications></simple-notifications>
  </form>
</logout-hider>
