$hexColor: #28a745;

.hexoGrid {
  color: #e6e6e6;
}

@mixin hexRain() {
  background-image: url(../images/hex.png) !important;
  background-position: right !important;
  background-repeat: repeat-y !important;
}

.hexo:before {
  content: " ";
  width: 0;
  height: 0;
  border-bottom: 30px solid $hexColor;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  left: 0;
  top: -30px;
}

.hexoRow {
  display: -webkit-flex; /* Safari */
  -webkit-flex-wrap: wrap; /* Safari 6.1+ */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  white-space: nowrap;
}

.hexo {
  margin-top: 30px;
  margin-bottom: 5px;
  margin-right: 5px;
  text-align: center;
  background-color: $hexColor;
  position: relative;
  font-weight: 600;
  cursor: pointer;
}

.hex-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
}

.hexo:hover {
  -webkit-animation: breath 1500ms infinite;
  animation: breath 1500ms infinite;
  -webkit-animation-delay: 100ms;
  animation-delay: 100ms;
}

@-webkit-keyframes breath {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(0.85, 0.85);
  }
  100% {
    transform: scale(1, 1);
  }
}

.hexo:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  left: 0;
  border-top: 30px solid $hexColor;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.hexoIn {
  bottom: -15px;
  position: relative;
}

.hexo-offset {
  margin-left: 55px;
}

